<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="home-title">Build
        Small Worlds
        of Calm</h1>
        <p class="home-text">Create, observe,
        and let them grow.</p>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <h2>About the Game</h2>
        <h3>Your own little creative playground</h3>
        <p class="about-text">Calm Window: Dreamline Architect lets players design miniature dream environments inside framed “windows.” Each one
        evolves over time based on simple choices and gentle interactions.<br class="desk"/> It's not about winning or completing objectives -
        it's more about creating a vibe and expressing yourself.</p>
    </div>
</section>