.footer {
border-top: 1px solid #9b897d;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer-text {
color: #524f4e;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
.mob{
display: none;
}

}